

/* Navigation section */
 #navbar{
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 #navbar::before{
     width: 100%;
 }
 #navbar ul li a{
     font-size: 1rem;
     margin: 1px 6px;
 }
/* home section */
#home{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 830px;
}
#home img{
    width: 295px;
    margin: auto;
    
}
/* Main section */
#main{
    height: 991px;
}
#main h1{
    padding: 5px 3px;
}
#main1{
    height: 815px;
}
#carpet{
 flex-direction: column;
}
.box img{
    margin: 3px 50px;
}