/* CSS Reset */
*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
/* Navbar */
#navbar{
    display: flex;
    position: fixed;
    width: 100%;
}
#navbar::before{
    content: " ";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: -1;

}
#logo img{
    width: 100px;
    height: 52px;
    filter: invert(100%);
}
#navbar ul{
    display: flex;
    align-items: center;
}
#navbar ul li{
    display: block;
    list-style: none;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
#navbar ul li a{
    color: white;
    border-radius: 15px;
    text-decoration: none;
    padding: 2px 13px;
    margin: 3px 20px;
}
#navbar ul li a:hover{
    background-color: rgb(255, 254, 254);
    color: black;
    
}
/* Home Section */

#home{
    height: 622px;
    font-family: 'Bree Serif', serif;
    text-align: center;
}

#home img{
    border-radius: 8px;
    width: 700px;
    height: 284px;
    box-shadow: 2px 2px 50px 2px black;
    margin: 40px;
    cursor: pointer;
    border-radius: 8px;
    /* position: relative;
    animation-name: home;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out; */
}
/* @keyframes home{
    0%{
    right: 0px;
    }
    50%{
    right: 200px;
    }
    100%{
    right: 0px;
   }
} */

#heading{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    padding: 65px 20px;
}
section p{
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}

/* Carpets section */

#main{
    background-color: rgb(233 237 241);
    height:411px;
    font-family: 'Bree Serif', serif;

}
#main h1{
    padding: 15px 4px;
    margin: 15px 3px;
    font-size: 3rem;
}

#carpet{
    display: flex;
}

.box{
    background-color: white;
    box-shadow: 1px 1px 25px 1px black;
    margin: 5px 55px;
    padding: 5px 7px;
    border-radius: 8px;
    /* position:relative; */
    /*
    animation-name: box;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out; */
}
/* @keyframes box{
    0%{
       right: 0px;
    }
    50%{
       right: 200px;
    }
    100%{
      right: 0px;
    }
} */
.box p{
    margin: 4px 3px;
    padding: 4px 9px;
    font-size: 12px;
}
.box img{
    box-shadow: 1px 1px 50px 2px black;
    border-radius: 8px;
    display: block;
    margin: 8px 119px;
    height: 100px;
}
#main1{
    background-color: rgb(233 237 241);
    height: 315px;
    font-family: 'Bree Serif', serif;
}

/* form section */
#contact{
    display: flex;
    color: white;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    align-items: center;
    font-family: 'Bree Serif', serif;
}
.form-section{
    margin: 5px 4px;
    border-radius: 8px;
}
.forms{
    text-align: center;
    border: 2px solid black;
    border-radius: 3px;
    width: 360px;

}
.button{
    border-radius: 7px;
    width: 70px;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(209, 203, 203);
}
footer{
    background-color: black;
    color: white;
    padding: 4px 15px;
    font-size: 10px;
    text-align: end;
}

/* Utility classes */
.center{
    font-family: 'Bree Serif', serif;
  text-align: center;
}